
@{
    ViewBag.Title = "Index";
}

<h2>Employee View</h2>

<ul
    <li>@Html.ActionLink("Find Local Routes", "Index", "Home")</li>
    <li>@Html.ActionLink("View Balance", "About", "Home")</li>
    <li>@Html.ActionLink("Extra Pickup", "Contact", "Home")</li>
</ul>
