
@{
    ViewBag.Title = "Index";
}

<h2>Customer View</h2>

<ul
    <li>@Html.ActionLink("Pickup Schedule", "Index", "Home")</li>
    <li>@Html.ActionLink("View Balance", "About", "Home")</li>
    <li>@Html.ActionLink("Extra Pickup", "Contact", "Home")</li>
</ul>